@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-gray: #f5f5f5;
  --color-grayish-white: #cfcfcf;
  --color-primary-gray: #ededed;
  --color-mid-gray: #909090;
  --color-dark-gray: #989898;
  --color-darker-gray: #353535;
  --color-mid-black: #181313;
  --color-dark-black: #111111;
  --color-primary-black: #211c24;
  --color-mid-yellow: #ffb547;
}

body {
  font-family: "Inter", sans-serif;
}

@utility shop-btn {
  @apply mt-[2em] rounded-md px-[2.5em] py-[.7em] cursor-pointer;
}

@utility banner-card {
  @apply text-center p-[2em] md:w-[50%] lg:flex lg:p-0 lg:items-center;
}

@utility battery-capcity {
  @apply block border-2 cursor-pointer border-[#D5D5D5] text-[#6F6F6F] px-5 py-2 rounded-md;
}

@utility features-style {
  @apply bg-[#F4F4F4] w-[180px] h-[70px] rounded-md flex items-center px-[1em] gap-2;
}

@utility product-details-btns {
  @apply block m-auto w-full font-medium text-xl py-2 rounded-md;
}

@utility products-free-section {
  @apply bg-[#F6F6F6] rounded-md w-[60px] h-[50px] flex justify-center;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
