@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-gray: #F5F5F5;
  --color-grayish-white: #cfcfcf;
  --color-mid-gray: #909090;
  --color-dark-gray: #989898;
  --color-darker-gray: #353535;
  --color-mid-black: #181313;
  --color-dark-black: #111111;
  --color-primary-black: #211C24;
  --color-mid-yellow: #ffb547;
}

body {
  font-family: "Inter", sans-serif;
}
